.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 105px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
    transition: 0.3s;
    transition: height 0.5s;
    @media(max-width: 1000px) {
        height: 77px;
        transition: 0.3s;
        transition: height 0.5s;
        padding-top: 25px;
    }
    &_mobileActive {
        align-items: flex-start;
        height: 250px !important;
    }
    .page__header_sticky & {
        height: 77px;
        transition: 0.5s;
    }
    &__control {
        z-index: 2;
        width: 24px;
        height: 24px;
        background-image: url(../images/menu__control.png);
        display: none;
        font-size: 21px;
        cursor: pointer;
        transition: color 0.3s;
        -webkit-tap-highlight-color: transparent;
        text-align: left;
        @media (max-width: 1000px) {
            display: block;
            position: absolute;
            top: 30px;
            right: 16px;
        }
    }
    &__list {
        display: flex;
        flex: 2;
        list-style: none;
        padding: 0;
        -webkit-overflow-scrolling: touch;
        margin: 0;
        &_right {
            justify-content: flex-end;
        }
        @media (min-width: 1001px) {
            display: flex !important;
            opacity: 1 !important;
        }
        @media (max-width: 1000px) {
            display: none;
            width: 100%;
            margin-top: 30px;
        }
    }
    &__item {
        padding: 0 16px;
        position: relative;
        &_login {
            padding-left: 40px;
        }
        @media (max-width: 1000px) {
            text-align: center;
            width: 100%;
            line-height: 26px;
            padding: 10px;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06) inset;
        }
    }
    &__person {
        position: absolute;
        left: -20px;
        top: 1px;
        width: 24px;
        height: 24px;
        & path#Shape {
            fill: #D0E5FF;
            transition: 0.3s;
        }
        &:hover {
            & path#Shape {
                fill: #077eff;
                transition: 0.3s;
            }
            & + .menu__link {
                transition: 0.3s easy-out;
                text-decoration: none;
                color: #077eff !important;
                &:before {
                    width: 50%;
                    left: 0;
                }
                &:after {
                    width: 50%;
                }
            }
        }
        .menu__item_login .menu__link:hover & {
            & path#Shape {
                fill: #077eff;
                transition: 0.3s;
            }
        }
    }
    &__link {
        color: #d0e5ff;
        line-height: 22px;
        transition: 0.3s easy-out;
        cursor: pointer !important;
        font-size: 16px;
        position: relative;
        &:before {
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            background: #077eff;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
            left: 50%;
            bottom: 8px;
        }
        &:after {
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            background-color: #077eff;
            transition: width 0.3s ease-in-out;
            left: 50%;
            bottom: 8px;
        }
        &:hover {
            transition: 0.3s easy-out;
            text-decoration: none;
            color: #077eff;
            &:before {
                width: 50%;
                left: 0;
            }
            &:after {
                width: 50%;
            }
        }
    }
}