.rangeSlider {
    width: 485px;
    align-self: center;
    @media(max-width: 580px) {
        width: 70%;
    }
    &__input {
    }
}

.irs-slider {
    width: 24px !important;
    height: 24px !important;
    background: #23dbb9 !important;
    border: 1px solid #23dbb9;
}

.irs-line {
    height: 4px;
    opacity: 0.1;
    border-radius: 4px;
    background-color: #acc5ff;
}

.irs-bar {
    border: none;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(to right, #23ceb0, #23dbb9);
}

.irs-bar-edge {
    border: none;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(to right, #23ceb0, #23dbb9);
}

.irs-min, .irs-max {
    display: none;
}

.irs-grid-pol.small {
    display: none;
}

.irs-single {
    display: none;
}

.irs-grid-pol {
    top: -5px;
    height: 10px;
    width: 1px;
    border-radius: 0.5px;
    background-color: #2b354a;
}

.irs-grid-text {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.irs-disabled {
    opacity: 1;
}

.irs-disable-mask {
    display: none;
}