.page {
    color: #444;
    overflow: hidden;
    margin: 0 auto;
    background-color: #181e2d;
    &__header {
        padding-left:5.3%;
        padding-right:5.3%;
        position: relative;
        z-index: 100;
        width: 100%;
        background-color: #181e2d;
        &_transparent{
            position: fixed;
            @media(min-width:1001px){
                position: fixed;
                left: 0;
                z-index: 111;
                background-color: transparent;
            }
        }
        &_sticky{
            position: fixed !important;
            background-color: #181e2d;
            transition: box-shadow 0.5s;
            box-shadow: 0 20px 29px -14px rgba(0, 0, 0, 0.4);
        }    
    }
    &__content {
        position: relative;
    }
    &__footer {
    }
}