.topSection {
    min-height: 1151px;
    padding-top: 147px;
    position: relative;
    margin: 0 auto;
    border-color: #ebebeb;
    &__text {
        margin-left:auto;
        margin-right:auto;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: center;
        color: #ffffff;
        margin-bottom:8px;
        @media(max-width: 767px){
            max-width:80%;
        }
        &_range{
            font-size: 15px;
            line-height: 1.6;
            color: #738196;
        }
        &_number{
            font-size: 30px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0.2px;
            text-align: left;
        }
        &_numberSmall{
            font-size:20px;
        }
        &_bold{
            font-size: 48px;
            font-weight: 800;
            line-height: 66px;
            margin-bottom:40.8px;
        }
        &_color{
            color: #077eff;
        }
    }
    &__bgDots{
        text-align: center;
        position: absolute;
        top: 215px;
        left: 0;
        right: 0;
        & svg{
            width:95%;
        }
    }
    &__buttons{
        display: flex;
        flex-flow: row;
        justify-content:center;
        @media(max-width:767px){
            flex-flow: column;
            & .button{
                margin-bottom:30px;
                width:70%;
                margin-left:15%;
            }
        }
    }
    &__graph{
        position: relative;
        display: flex;
        justify-content:center;
    }
    &__dots{
        position: absolute;
    }
    &__form{
        display: flex;
        justify-content: center;
        position: relative;
        margin-top:55px;
    }
    &__rangeSlider{
        display: flex;
        flex-flow:column;
        position: relative;
        top: -130px;
    }
}